body {
    background-color: black;
    background-image: url(imagem/imagemfundo.jpeg);
    background-size: cover;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    color: brown;
    font-size: 36px;
}

h2 {
    color: aquamarine;
    font-size: 28px;
    font-weight: normal;
}

p {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.sub {
    text-decoration:  underline dotted red;
}

.shadow {
    text-shadow: 4px 4px 4px;
}