.mensagem {
    width: 300px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;

    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(250, 0, 0, 0.5);
    text-shadow: 2px 2px 4px blue;
    background-image: linear-gradient(to right, green, lightgreen);
}