div {
    background-color: #f0f8ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 2px solid blue;
    width: 300px;
    margin-bottom: 20px;
}

.caixa1 {
    margin: 20px;
    padding: 20px;
}

.caixa2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.caixa3 {
    margin: 10px 15px 5px 20px;
    padding: 10px 20px 5px 15px;
}