input[type="text"],
input[type="email"],
textarea {
    width: 300px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    display: block; /*Coloquei display:block; Para cada elemento ocupar uma linha.*/
}

textarea {
    height: 100px;
}

button {
    background-color: green;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
    border: 1px solid blue;
    box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.3);
    outline: none;
}